<!-- chat/templates/chat/room.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<style>
#container {
  width: 1280px;
  height: 720px;
  position: relative;
  background: #0f4d8f;
}
#animate {
  padding-top: 30px;
  margin-left: -360px;
  width: 320px;
  height: 240px;
  position: absolute;
  background-color: #0f4d8f;
}
#animateFlip {
  padding-top: 30px;
  left: 1280px;
  width: 320px;
  height: 240px;
  position: absolute;
  background-color: #0f4d8f;
  
}
#animateFlip img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
</style>
<body>
    <textarea id="chat-log" cols="10" rows="20"></textarea><br>
    <div id ="container">
      <div id = "animate">
        <img id = "animateImg" src="" alt="Nyancat"/>
      </div>
      <div id = "animateFlip">
        <img id = "animateFlipImg" src="" alt="Nyancat"/>
      </div>
    </div>
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
            myMove(data.message);
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        function myMove(message) {
          var animate = "";
          var animateImg = "";
          var count = 0;
          var originLeft = 0;
          var fileName = "/static/chat/Nyancat.gif";
          if ( message == "catl" ) {
              animate = "animate";
              animateImg = "animateImg";
              count = 1;
              originLeft = 0;
              fileName = "/static/chat/Nyancat.gif";
          } else if ( message == "catr"){
              animate = "animateFlip";
              animateImg = "animateFlipImg";
              count = -1;
              originLeft = 1280;
              fileName = "/static/chat/Nyancat.gif";
          } else if ( message == "dogl"){
              animate = "animate";
              animateImg = "animateImg";
              count = 1;
              originLeft = 0;
              fileName = "/static/chat/Nyandog3.gif";
          } else {
              animate = "animateFlip";
              animateImg = "animateFlipImg";
              count = 1;
              count = -1;
              originLeft = 1280;
              fileName = "/static/chat/Nyandog3.gif";
          }
          var elem = document.getElementById(animate);   
          var id = setInterval(frame, 5);
          var pos = 0;
          document.getElementById(animateImg).src = fileName;
          function frame() {
           if (pos >= 1280 + 360) {
              clearInterval(id);
            } else {
              pos++;
              elem.style.left = originLeft + ( count * pos ) + "px"; 
            }
          }
        }

    </script>
</body>
</html>
